@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: star_jedi;
    src:url(../fonts/star_jedi/starjedi/Starjedi.ttf);
}


@font-face {
	
    font-family: Open_Sans;
    src:url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

body{
	background-color:#F9F7E7;
	}
	
	
.yoda{
	width:100%;
	height:100%;
	margin-top:50px;	
	}
	
	
	.yodatekst{
		font-size:27px;
		font-family:star_jedi;
		color:#2F8C00;
		}
	
	.tekst1{
		font-family: Open_Sans;
		font-size:83px;
		margin-left:50px;
		margin-top:80px;		
		}

.back{
	font-family:star_jedi;
	color:#2F8C00;		
	float:right;
	font-size:25px;
	padding-top: 5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
	margin-right:200px;
	background: none;
	border: 0.3rem solid #2F8C00;
	border-radius: 7px;
	text-decoration:none;
			}		



