@charset "UTF-8";
/* CSS Document */
body{	
	background-image:url(../images/background.png);	
	}

.titel{	
	position:block;
	font-size:50px;
	color: white;
	margin: 0 auto;
	text-align:center;
	font-weight:bold;
	}	
	
.settings{
		text-align:center;
		font-size:32px;
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:50px;
		border: 0.1rem solid white;
		color: white;
		padding-right:80px;
		font-weight:bold;		
		}
	
.icon_home{	
float:left;
width: 40px;
height: 40px;
margin-top:9px;
margin-left:7px;
		}
		
.LGS{
	color: white;
	font-size:27px;
	font-weight:bold;
	margin-top:50px;
	margin-bottom:25px;
	}	
	
	.facebook{
		color:white;
		float:left;
		width:100%;
		padding:11px;
		text-decoration:none;
		font-size: 21px;
		border: 0.1rem solid white;
		border-radius: 7px;
		background:none;
		margin-bottom:17px;
		}
	
.arrow{
	margin-right:7px;
	width:25px;
	height:25px;
	float:right;	
	}

.footer{
	margin-top:92px;
	color:white;
	text-align:center;
	}
	
	.footer a {
		color:white;		
		}